body {
    background-image: url(/images/bm-bg.png);
}
.footer-bg {
    background: linear-gradient(
        rgba(0, 0, 0, 0.9), 
        rgba(0, 0, 0, 0.9)
        ),
        url(/images/bm-bg.png);
}


.col-sm-12:hover>.beatmapset-panel__shadow {
    opacity: 1;
        height: 83.7%;
    width: 98.7%;
}

.col-sm-12:hover>.beatmapset-panel-prev {
    opacity: 1 !important;
}

.col-sm-6:hover>.beatmapset-panel__shadow {
    opacity: 1;
}

.col-sm-6:hover>.beatmapset-panel-prev {
    opacity: 1 !important;
}

.beatmapset-panel__play {
    color: #fff !important;
    text-decoration: none;
    text-shadow: 0 1px 5px rgba(0, 0, 0, 0.88);
    -webkit-transition: all .12s ease-in-out;
    transition: all .12s ease-in-out;
    position: absolute;
    left: 10px;
    top: -10px;
    font-size: 40px;
     opacity: 0; 
    line-height: 1;
    cursor: pointer;
}




.beatmapset-panel-prev {
    position: relative;
    top: -172px;
    float: left;
    font-size: 36px;
}

.beatmapset-panel__play:hover {
    color: #fc2 !important;
}

.beatmapset-panel__shadow{
    border-radius:5px;
    -webkit-transform:translateZ(0);
    transform:translateZ(0);
    position:absolute;
    top:0;
    height: 83%;
    width: 94.8%;
    content:" ";
    -webkit-box-shadow:0 10px 20px rgba(0,0,0,.25);
    box-shadow:0 10px 20px rgba(0,0,0,.25);
    -webkit-transition:all .12s ease-in-out;
    transition:all .12s ease-in-out;
    opacity:0;
    pointer-events:none;
    }


    
.card.hovercard {
    position: relative;
    padding-top: 0;
    margin: 0;
    overflow: hidden;
    height: 180px;
    text-align: left;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.12);

}

.card {
    padding-top: 20px;
    margin: 22px 0 20px 0;
    background-color: rgba(214, 224, 226, 0.2);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: none !important;


}

.card.hovercard .info .title {
    width: 75%;
    margin-bottom: 4px;
    font-size: 20px;
    line-height: 1;
    color: #404040;
    vertical-align: middle;
    display: inline;
    text-shadow: none;
}

.card.hovercard .bottom {
    padding: 0 10px;
    margin-bottom: 17px;
    white-space: normal;
}

.card.hovercard .info {
    padding: 0px 12px 8px;
}

.card.hovercard .info .desc {
    overflow: hidden;
    font-size: 14px;
    line-height: 20px;
    text-overflow: ellipsis;
    text-shadow: none;
    color: #2c2c2c;
}

.cardheader {
    display: block;
    background-position: 50% 50% !important;
    height: 10em;
    padding: 1em;
    position: relative;
    margin-bottom: 4px;
}

.cardheader.qual {

}
.cardheader.ranked {
}


span.beatmap.songname {
    text-shadow: 0 3px 5px rgba(0, 0, 0, 0.17);
    position: absolute;
    color: #fff;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 700;
    bottom: .3em;
    left: 12px
}
span.beatmap.songname.title {
    bottom: 24px;
    font-size: 22px;
    left: 12px;
    font-weight: 700;
    text-shadow: 0 3px 5px rgba(0, 0, 0, 0.17);
}


.song-author-name {
    font-weight: 700;
    color:  rgb(195, 41, 86) !important;
}
.card.hovercard .info .song-source {
    font-size: 10px;
    opacity: 0.5;  
}
.song-status {
    width: 80px;
    height: 24px;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 12px;
    position: absolute;
    margin-left: 12px;
    margin-top: 8px;
    color: white;
    text-align: center;
    padding-top: 2px;
    transition: opacity 0.2s;
}
.card.hovercard:hover>.song-status {
     opacity: 0;
    }
.beatmapset-panel__play:hover>.song-status {
    opacity: 0;
}
.song-play {
    color: white;
    text-shadow: 0 3px 5px rgba(0, 0, 0, 0.17);
    font-size: 14px;
    float: right;
    font-weight: 600;
}
.song-fav {

    color: white;
    text-shadow: 0 3px 5px rgba(0, 0, 0, 0.17);
    font-size: 14px;
    float: right;
    font-weight: 600;
}
.download-icon {
    color: rgba(0, 0, 0, 0.2);
    float: right;
    text-align: right;
    transition: color 0.4s;
    
}
.download-icon:hover {
    color: rgba(0, 0, 0, 0.6);
}