@import url('https://fonts.googleapis.com/css?family=Exo+2:400,400i,500,500i,600,600i,700,700i,800,900');

a, body, h1, h2, div {
    font-family: 'Exo 2', sans-serif;
}
li {
    list-style-type: none;
}

ul {
    padding-left: 0;
}

body {
      background: 
    linear-gradient(
      rgba(255, 255, 255, 0.1), 
      rgba(255, 255, 255, 0.1)
    ),
    url(../images/bg2.png);
}
.block-pad {
    margin-left: 64px;
}

.logo {
    text-shadow: -1px 2px 2px rgba(0, 0, 0, 0.33);
    color: white;
    font-size: 28px;
    font-weight: 400;
    padding-bottom: 6px;
    padding-left: 24px;
    cursor: pointer;
    z-index: 2;

}
.navbar .navbar-nav .nav-link { 
        color: white !important; 
        text-shadow: -1px 2px 2px rgba(0, 0, 0, 0.33);
}
.main-search {
    height: 28px;
    box-shadow: -1px 2px 2px 1px rgba(0, 0, 0, 0.11);
    outline: none;
    border: none;
    padding: 12px;
    opacity: 1;
    margin-top: 6px;
    margin-left: 10px;
    border-radius: 4px;

}
.login {
    color: white;
    margin-top: 8px;
    margin-left: 28px;
    text-decoration: none;
    text-shadow: -1px 2px 2px rgba(0, 0, 0, 0.33);
}

.login:hover {
    text-decoration: none;
    color: white;
}

.main-block {
    background-image: url(../images/main-bg3.png);
    background-position-x: left;
    height: 400px;
    background-size: cover;
    color: white;
    text-shadow: -1px 2px 2px rgba(0, 0, 0, 0.33);
    box-shadow: -1px 2px 2px 1px rgba(0, 0, 0, 0.11);
    border-radius: 4px;
}
.main-block-gatari {
    float: left;
    padding-top: 54px;
    font-size: 34px;
}
.main-block-gatari2 {
    padding-top: 110px;
    font-size: 18px;    
}
.main-block-gatari3 {
    padding-top: 12px;
    font-size: 14px;
    font-style: italic;
}
.main-block-registration {
    margin-top: 70px;
    background-image: url(../images/icons/button.svg);
    background-color: #a41042;
    margin-left: 64px;
    width: 170px;
    height: 60px;
    border: none;
    background-size: 150%;
    border-radius: 4px;
    color: white;
    font-style: italic;
    text-shadow: -1px 2px 2px rgba(0, 0, 0, 0.11);
    font-size: 16px;
    transition: 0.22s box-shadow, 0.2s background-color, 0.4s background-position-x, 0.22s margin-top;
    cursor: pointer;
    box-shadow: 0 5px #5d1029, 0 4px 3px rgb(0, 0, 0);
}

.main-block-registration:focus {
    outline:0;
}
.main-block-registration:hover {
    background-color: #f93275;
    background-position-x: -30px;
}

.main-block-registration:active{
    box-shadow: none;
    margin-top: 73px;
}

.info-block {
    background-image: url(../images/info-block2.png);
    background-position-x: right;
    height: 220px;
    background-size: cover;
    color: white;
    text-shadow: -1px 2px 2px rgba(0, 0, 0, 0.33);
    box-shadow: -1px 2px 2px 1px rgba(0, 0, 0, 0.11);
    margin-top: 8px;
    border-radius: 4px;
}
.info-text {
    font-size: 38px;
    padding-top: 16px;
}
.info-text2 {
    font-size: 14px;
    padding-top: 28px;
}
.server-status {
    background-image: url(../images/server-stats-bg.png);
    height: 240px;
    background-size: cover;
    color: white;
    text-shadow: -1px 2px 2px rgba(0, 0, 0, 0.33);
    box-shadow: -1px 2px 2px 1px rgba(0, 0, 0, 0.11);
    margin-top: 8px;
    border-radius: 4px;
}
.server-status-text {
    padding-top: 24px;
    font-size: 24px;
    float: left;
}
.server-status-online {
    padding-top: 70px;
    font-size: 14px;
    float: left;
}

@media (min-width: 576px){
    .server-status-online {
        width: 450px;
    }
}

.server-druzhban {
    background-image: url(../images/server-druzhban-bg.png);
    height: 240px;
    background-size: cover;
    color: white;
    text-shadow: -1px 2px 2px rgba(0, 0, 0, 0.33);
    box-shadow: -1px 2px 2px 1px rgba(0, 0, 0, 0.11);
    margin-top: 8px;
    border-radius: 4px;
}
.server-druzhban-text {
    padding-top: 24px;
    font-size: 24px;
    display: inline-block;
}
.server-druzhban-user {
    padding-top: 8px;
}

.server-druzhban-user a{
    color: white !important;
    text-decoration: none !important;
}

.server-druzhban-avatar {
    float: left;      
    height: 30px;
    border-radius: 6px;
    background-image: url(../images/icons/button.svg);
}
.server-druzhban-head {
    height: 60px;
}
.druzhban-month {
    float: right;
    opacity: 0.6;
    padding-right: 64px;
}
.server-druzhban-user-block {
    padding-top: 6px;
}
.footer-bg {
    text-shadow: -1px 2px 2px rgba(0, 0, 0, 0.33);
    background: 
    linear-gradient(
      rgba(255, 255, 255, 0.03), 
      rgba(255, 255, 255, 0.03)
    ),
    url(../images/bg2.png);
    height: 180px;
    width: 100%;
    margin-top: 8px;
    position: relative;
    left: 0;
    bottom: 0;
}
.footer-info-block {
    color: #f3b3dd;
    padding-top: 24px;
    float: left;
    font-size: 14px;
}

.footer-info-block a{
    color: #f3b3dd !important;
}

.footer-logo {
    color: white;
    font-size: 30px;
    padding-top: 24px;
    padding-right: 36px;
    text-align: right;
    height: 100px;
}

.footer-logo>.subtitle{
    font-size: 18px;
    float: right;
}

.footer-info-block>.footer-title{
    color: white !important; 
    font-size: 20px; 
    font-weight: 600; 
}
.footer-info-block {
    padding-left: 24px;
}
.header-bg {
    background-image: url(../images/icons/button.svg);
    background-color: #a9194c;
    box-shadow: -1px 2px 2px 1px rgba(0, 0, 0, 0.11);
    margin-bottom: 8px;
    background-size: 25%;
    position: relative;
}
@media (max-width: 992px) and (min-width: 520px){
   .footer-logo {
    font-size: 24px;
    padding-top: 24px;
    padding-right: 6px;

}
    .footer-logo>.subtitle{
    font-size: 16px;
}
    .dropup {
    width: 160px;
    padding-right: 0;
}

}

@media only screen and (max-device-width: 580px) {
    .footer-bg {
    position: absolute;
}
}

.header-bg:before {
    content: "";
    background: linear-gradient(to bottom, rgba(248,80,50,0) 0%, rgba(246,41,12,0) 0%, rgba(170, 26, 77, 1) 100%);
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    background-size: 100% 100%;
}


.users-count{
    color: #b52253 !important; 
}

.info-why{
    display: block;
    width: 310px;
}
.language {
    font-size: 14px;
    background-color: rgba(15,15,15,1);
    text-align: center;
    border-radius: 4px;
    padding: 8px;
    cursor: pointer;
}
.dropup {
    display: inline-block;
    color: white;
    padding-top: 8px;
    width: 200px;
    float: right;
    padding-right: 40px;
}

.dropup-content {
    display: none;
    position: absolute;
    background-color: rgba(18,18,18,1);
    min-width: 160px;
    border-radius: 4px;
    padding: 12px 16px;
    z-index: 1;
    font-size: 14px;
    float: left;
    margin-top: 8px;
    margin: auto;
    bottom: 42px;
    text-align: center;
}
.dropup:hover .dropup-content {
    display: block;
}

.dropup-flags {
    width: 24px;
    padding-left: 6px; 
    padding-bottom: 2px;
}
.language-select {
    background-color: rgba(15,15,15,1);
    border-radius: 4px;
    margin-top: 4px;
    padding: 4px;
    cursor: pointer;
}

li.language-select:hover, li.language-select.selected {
    background-color: #060606;
}


li.language-select:hover:before, li.language-select.selected:before{
    content: "";
    border-radius: 10px;
    position: relative;
    top: 3px;
    display: block;
    float: left;
    left: 8px;
    height: 18px;
    width: 2px;
    background-color: #fc2;
}

.header-menu {
    float: right !important;
    margin-right: 24px;
}
.navbar { 
    padding: 2px !important;
 }
 .main-block-uppertext {
     height: 224px;
 }
 .dropdown-login-content {
     z-index: 3;
     padding-left: 24px;
     padding-right: 24px;
 }
 .dropdown-login:hover>.dropdown-login-content {
     display: block;
 }
 .dropdown-login-stroke {
     color: white;
     padding-top: 24px;
     text-shadow: -1px 2px 2px rgba(0, 0, 0, 0.33);
     font-weight: 700;
     font-size: 18px;
}
.login-form {
    width: 100%;
    margin-top: 18px;
    border: none;
    border-radius: 4px;
    background-color: rgba(22,22,22,1);
    padding: 4px;
    font-size: 14px;
    height: 60px;
    height: 36px;
    outline: none;
    color: white;
}
.login-form-password {
    margin-top: 8px !important;
}
.login-forgot {
    color: #fc2 !important;
    text-shadow: -1px 2px 2px rgba(0, 0, 0, 0.33);
    margin-top: 8px;
    font-size: 12px;
}
.login-btn {
    width: 120px;
    height: 32px;
    margin-top: 12px;
    background-image: url(../images/icons/button.svg);
    background-color: #27b;
    border: none;
    background-size: 150%;
    border-radius: 4px;
    color: white;
    text-shadow: -1px 2px 2px rgba(0, 0, 0, 0.11);
    font-size: 14px;
    transition: 0.3s box-shadow, 0.2s , 0.4s background-position-x, 0.5s filter, 0.4s background-color;
    cursor: pointer;
    text-align: left;
    padding-left: 12px;
    font-weight: 500;
    margin-bottom: 2px;
}

.login-btn:focus {
    outline:0;
}
.login-btn:hover:not(.disabled) {
    background-position-x: -30px;
    background-color: #55a2de;
}

.login-btn:active{
    box-shadow: none;
}
.login-icon {
    font-size: 18px !important;
    color: white;
    text-align: right;
    float: right;
    padding-top: 2px;
    padding-right: 8px;

}
.login-registrate {
    background-color: rgba(36,36,36,1);
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-top: 14px;
    position: absolute;
    color: white;
    width: 320px;
    text-shadow: -1px 2px 2px rgba(0, 0, 0, 0.33);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 1;
}
.dropdown-login-bg {
    background-color: rgba(28,28,28,1);
    width: 320px;
    border-radius: 4px;
    z-index: 1;
    position: absolute;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    padding-bottom: 16px;
}

.login-registrate-stroke1 {
    padding-top: 12px;
    font-size: 14px;
}
.login-registrate-stroke2 {
    opacity: 0.4;
    font-size: 12px;
}
.registrate-login-block-btn {
    width: 140px;
    height: 32px;
    margin-top: 12px;
    background-image: url(../images/icons/button.svg);
    background-color: #b32152;
    border: none;
    background-size: 150%;
    border-radius: 4px;
    color: white;
    text-shadow: -1px 2px 2px rgba(0, 0, 0, 0.11);
    font-size: 14px;
    transition: 0.3s box-shadow, 0.2s , 0.4s background-position-x;
    cursor: pointer;
    text-align: left;
    padding-left: 12px;
    font-weight: 500;
    margin-bottom: 12px;
}

.registrate-login-block-btn:focus  {
    outline:0;
}
.registrate-login-block-btn:hover {
    background-position-x: -30px;
}

.registrate-login-block-btn:active{
    box-shadow: none;
}
.icon-shadow {
    filter: drop-shadow( -1px 2px 2px rgba(0, 0, 0, 0.22) );   
}
.block-icon {
    float: right;
    width: 28px;
    margin-right: 64px;
    padding-top: 28px;
    background-size: 100%;
    margin-top: 28px;
}

.login-header-icon {
    width: 15px;
    background-image: url(../images/icons/login.svg);
    background-size: 100%;
    height: 14px;
    background-position-y: 16px;
    display: inline-block;
}
.stats-icon{
    background-image: url(../images/icons/server-pie.svg);
}

.druzhban-icon {
    background-image: url(../images/icons/druzhban-fist.svg);
}

.container.flex-dropdown {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.beatmap-banner {
    background: linear-gradient(
        rgba(0, 0, 0, 0.6), 
        rgba(0, 0, 0, 0.0)
        ),
        url(../images/bm-banner-bg.jpg);
        height: 280px;
        border-radius: 4px;
        background-size: cover;
        background-position-y: 50%;
        box-shadow: -1px 2px 2px 1px rgba(0, 0, 0, 0.11);
}
.beatmap-banner-stroke {
    padding-top: 30px;
    color: white;
    font-weight: 700;
    font-size: 38px;
    text-shadow: -1px 2px 2px rgba(0, 0, 0, 0.33);
}
.beatmap-banner-stroke2 {
    color: white;
    font-size: 16px;
    text-shadow: -1px 2px 2px rgba(0, 0, 0, 0.33);
}
.beatmap-select-bg {
    box-shadow: -1px 2px 2px 1px rgba(0, 0, 0, 0.11);
    border-radius: 4px;
    background-color: #ffffff;
    height: 660px;
    margin-top: 8px;
    padding-top: 15px;

}
.beatmap-block {
    box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.17);
    border-radius: 4px;
    background-color: #ffffff;
    height: 180px;
    margin-top: 15px;
}

.dropup-content>ul{
    margin-bottom: 4px;
}
.beatmap-search {
    height: 28px;
    box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.17);
    outline: none;
    border: none;
    padding: 12px;
    opacity: 1;
    margin-top: 46px;
    border-radius: 30px;
    height: 34px;
    color: rgba(0, 0, 0, 0.6);
    width: 300px;
}
.beatmap-search-btn {
    width: 120px;  
    height: 36px;
    margin-top: 6px;
    background-color: #a9194c;
    border: none;
    background-size: 150%;
    border-radius: 30px;
    color: white;
    text-shadow: -1px 2px 2px rgba(0, 0, 0, 0.11);
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    padding-left: 12px;
    font-weight: 500;
    margin-bottom: 2px;
    padding-left: 6px;
    box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.17);
    background-image: url(../images/icons/button.svg);
    margin-left: 8px;
    transition:  box-shadow 0.6s;
}
.beatmap-search-btn:focus {
    outline: none;
}
.beatmap-search-btn:active {
    outline: none;
}
.beatmap-search-btn:hover {
    box-shadow: 0px 10px 34px 3px rgba(0,0,0,0.5);
}

.diffIcon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 4px;
    margin-bottom: -1px !important;
}

.diffIcon.easy { background: url('../images/diffs/easy.png'); }
.diffIcon.normal { background: url('../images/diffs/normal.png'); }
.diffIcon.hard { background: url('../images/diffs/hard.png'); }
.diffIcon.insane { background: url('../images/diffs/insane.png'); }
.diffIcon.expert { background: url('../images/diffs/expert.png'); }

.diffIcon.easy-t { background: url('../images/diffs/easy-t.png'); }
.diffIcon.normal-t { background: url('../images/diffs/normal-t.png'); }
.diffIcon.hard-t { background: url('../images/diffs/hard-t.png'); }
.diffIcon.insane-t { background: url('../images/diffs/insane-t.png'); }
.diffIcon.expert-t { background: url('../images/diffs/expert-t.png'); }

.diffIcon.easy-f { background: url('../images/diffs/easy-f.png'); }
.diffIcon.normal-f { background: url('../images/diffs/normal-f.png'); }
.diffIcon.hard-f { background: url('../images/diffs/hard-f.png'); }
.diffIcon.insane-f { background: url('../images/diffs/insane-f.png'); }
.diffIcon.expert-f { background: url('../images/diffs/expert-f.png'); }

.diffIcon.easy-m { background: url('../images/diffs/easy-m.png'); }
.diffIcon.normal-m { background: url('../images/diffs/normal-m.png'); }
.diffIcon.hard-m { background: url('../images/diffs/hard-m.png'); }
.diffIcon.insane-m { background: url('../images/diffs/insane-m.png'); }
.diffIcon.expert-m { background: url('../images/diffs/expert-m.png'); }

.dropdown-login-bg.error>.dropdown-login-content { -webkit-filter: grayscale(1) blur(2px); filter: grayscale(1) blur(2px); }


.login-error {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 1px 4px rgba(0,0,0,.6);
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 0.2em;
    width: 100%;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    overflow: hidden;
    background-color: #790000;
    background-image: url(../images/icons/button.svg);
    background-size: cover;
    color: #fff;
    /* font-weight: 600; */
    font-size: 1em;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.75);
    z-index: 3;
}

button.login-btn.disabled {
    filter: grayscale(1);
    cursor: not-allowed;
}

.header-avatar{
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
    margin-left: 8px;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-shadow: inset 0 0 0 0px #fff;
    box-shadow: inset 0 0 0 0px #fff;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    background-color: #333;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    display: block;
    filter: drop-shadow( -1px 2px 2px rgba(0, 0, 0, 0.22) );
    transition: 0.2s box-shadow;
}

.header-avatar:hover{
    box-shadow: inset 0 0 0 1.6px #fff;
}