@import url('https://fonts.googleapis.com/css?family=Exo+2:400,400i,500,500i,600,600i,700,700i,800,900');

a, body, h1, h2, div {
    font-family: 'Exo 2', sans-serif;
}
li {
    list-style-type: none;
}



body {
      background: 
    linear-gradient(
      rgba(255, 255, 255, 0.1), 
      rgba(255, 255, 255, 0.1)
    ),
    url(/images/bg2.png);
}
.block-pad {
    margin-left: 64px;
}

.logo {
    text-shadow: -1px 2px 2px rgba(0, 0, 0, 0.33);
    color: white;
    font-size: 28px;
    font-weight: 400;
    padding-top: 4px;
    padding-left: 24px;
    cursor: pointer;
}
.navbar .navbar-nav .nav-link { 
        color: white !important; 
        text-shadow: -1px 2px 2px rgba(0, 0, 0, 0.33);
}
.main-search {
    height: 28px;
    box-shadow: -1px 2px 2px 1px rgba(0, 0, 0, 0.11);
    outline: none;
    border: none;
    padding: 12px;
    opacity: 1;
    margin-top: 6px;
    margin-left: 10px;
    border-radius: 4px;

}
.login {
    color: white;
    margin-top: 8px;
    margin-left: 28px;
    text-decoration: none;
    text-shadow: -1px 2px 2px rgba(0, 0, 0, 0.33);
}

.login:hover {
    text-decoration: none;
    color: white;
}
.login-icon {
    width: 17px;
    height: 17px;
    color: white;
    box-shadow: -1px 2px 2px 1px rgba(0, 0, 0, 0.11);
    
}
.main-block {
    background-image: url(/images/main-bg3.png);
    background-position-x: left;
    height: 400px;
    background-size: cover;
    color: white;
    text-shadow: -1px 2px 2px rgba(0, 0, 0, 0.33);
    box-shadow: -1px 2px 2px 1px rgba(0, 0, 0, 0.11);
    border-radius: 4px;
}
.main-block-gatari {
    float: left;
    padding-top: 54px;
    font-size: 34px;
}
.main-block-gatari2 {
    padding-top: 110px;
    font-size: 18px;    
}
.main-block-gatari3 {
    padding-top: 12px;
    font-size: 14px;
    font-style: italic;
}
.main-block-registration {
    margin-top: 70px;
    background-image: url(/images/icons/button.svg);
    background-color: #a41042;
    margin-left: 64px;
    width: 170px;
    height: 60px;
    border: none;
    background-size: 150%;
    border-radius: 4px;
    color: white;
    font-style: italic;
    text-shadow: -1px 2px 2px rgba(0, 0, 0, 0.11);
    font-size: 16px;
    transition: 0.3s box-shadow, 0.2s background-color, 0.4s background-position-x;
    cursor: pointer;
    box-shadow: 0 5px #5d1029, 0 4px 3px rgb(0, 0, 0);
}

.main-block-registration:focus {
    outline:0;
}
.main-block-registration:hover {
    background-color: #f93275;
    background-position-x: -30px;
}

.main-block-registration:active{
    box-shadow: none;
}

.info-block {
    background-image: url(/images/info-block2.png);
    background-position-x: right;
    height: 220px;
    background-size: cover;
    color: white;
    text-shadow: -1px 2px 2px rgba(0, 0, 0, 0.33);
    box-shadow: -1px 2px 2px 1px rgba(0, 0, 0, 0.11);
    margin-top: 8px;
    border-radius: 4px;
}
.info-text {
    font-size: 38px;
    padding-top: 16px;
}
.info-text2 {
    font-size: 14px;
    padding-top: 28px;
}
.server-status {
    background-image: url(/images/server-stats-bg.png);
    height: 240px;
    background-size: cover;
    color: white;
    text-shadow: -1px 2px 2px rgba(0, 0, 0, 0.33);
    box-shadow: -1px 2px 2px 1px rgba(0, 0, 0, 0.11);
    margin-top: 8px;
    border-radius: 4px;
}
.server-status-text {
    padding-top: 24px;
    font-size: 24px;
    float: left;
}
.server-status-online {
    padding-top: 70px;
    font-size: 14px;
    float: left;
}
.server-druzhban {
    background-image: url(/images/server-druzhban-bg.png);
    height: 240px;
    background-size: cover;
    color: white;
    text-shadow: -1px 2px 2px rgba(0, 0, 0, 0.33);
    box-shadow: -1px 2px 2px 1px rgba(0, 0, 0, 0.11);
    margin-top: 8px;
    border-radius: 4px;
}
.server-druzhban-text {
    padding-top: 24px;
    font-size: 24px;
    display: inline-block;
}
.server-druzhban-user {
    padding-top: 8px;
}

.server-druzhban-user a{
    color: white !important;
    text-decoration: none !important;
}

.server-druzhban-avatar {
    float: left;      
    height: 30px;
    border-radius: 6px;
    background-image: url(/images/icons/button.svg);
}
.server-druzhban-head {
    height: 60px;
}
.druzhban-month {
    float: right;
    opacity: 0.6;
    padding-right: 64px;
}
.server-druzhban-user-block {
    padding-top: 6px;
}
.footer-bg {
    text-shadow: -1px 2px 2px rgba(0, 0, 0, 0.33);
    background: 
    linear-gradient(
      rgba(255, 255, 255, 0.03), 
      rgba(255, 255, 255, 0.03)
    ),
    url(/images/bg2.png);
    height: 180px;
    width: 100%;
    margin-top: 8px;
    position: relative;
    left: 0;
    bottom: 0;
}
.footer-info-block {
    color: #f3b3dd;
    padding-top: 24px;
    float: left;
    font-size: 14px;
}

.footer-info-block a{
    color: #f3b3dd !important;
}

.footer-logo {
    float: right;
    color: white;
    font-size: 30px;
    padding-top: 24px;
    padding-right: 36px;
    text-align: right;
}

.footer-logo>.subtitle{
    font-size: 18px;
}

.footer-info-block>.footer-title{
    color: white !important; 
    font-size: 20px; 
    font-weight: 600; 
    padding-left: 40px;
}
.header-bg {
    background-image: url(/images/icons/button.svg);
    background-color: #a9194c;
    box-shadow: -1px 2px 2px 1px rgba(0, 0, 0, 0.11);
    margin-bottom: 8px;
}
@media (max-width: 992px) and (min-width: 520px){
   .footer-logo {
    font-size: 24px;
    padding-top: 24px;
    padding-right: 6px;

}
    .footer-logo>.subtitle{
    font-size: 16px;
}

}

@media only screen and (max-device-width: 580px) {
    .footer-bg {
    position: absolute;
}
}

.header-bg:before {
    content: "";
    background: linear-gradient(to bottom, rgba(248,80,50,0) 0%, rgba(246,41,12,0) 0%, rgba(170, 26, 77, 1) 100%);
    position: absolute;
    top: 0;
    left: 0;
    height: 56px;
    width: 100%;
    background-size: 100% 100%;
}


.users-count{
    color: #b52253 !important; 
}

.info-why{
    display: block;
    width: 310px;
}